@charset "utf-8";
body {
  margin: 0;
}
.flex {
  display: flex;
}
.red-box {
  width: 400px;
  height: 100px;
  background: red;
}
.green-box {
  width: 150px;
  height: 250px;
  background: green;
  }
.blown-box {
  width: 250px;
  height: 250px;
  background: gray;
}
.yellow-box {
  width: 400px;
  height: 100px;
  background: gray;
}